= @resultable.errors

%br

- if @resultable.parameters
  - @resultable.parameters.each do |key, message|
    %h2
      = key
    %p
      - if message.is_a? Array
        - message.each do |m|
          = m
      - else
        = message
    %br